.App {
  font-family: sans-serif;
  text-align: center;
}
.grid {
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  font-size: 1px;
  grid-template-rows: repeat(0, 10px);
}
.color-green {
  color: green;
}
.color-red {
  color: rgb(185, 0, 0);
}
.grid h1 {
  font-size: 20px;
  margin: auto;
  width: 50%;
  text-align: center;
}
.count {
  font-size: 24px;
  display: block;
  margin-top: 0.73em;
  margin-bottom: 1.2em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
}
.grid button {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border-color: black;
}
.margin {
  margin-left: auto;
}

.reset-button {
  background-color: rgba(0, 163, 185, 0.63);
  border-color: black;
  border-radius: 10px;
  color: black;
  width: 80px;
  height: 50px;
}
